import 'virtual:uno.css'

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}


[x-cloak] { display: none !important; }

.no-focus-outline a:not(.keepfocus):focus,
.no-focus-outline select:not(.keepfocus):focus,
.no-focus-outline input:not(.keepfocus):focus,
.no-focus-outline button:not(.keepfocus):focus {
	outline: none !important;
}

input,
textarea,
button,
select,
a,
label,
div {
	-webkit-tap-highlight-color: transparent;
}

.homepage {
	@apply text-center;
}

.homepage p {
	@apply max-w-lg mx-auto  ;
}

.homepage h3 {
	@apply text-lg pt-4
}

.homepage .name {
	@apply text-brand-primary
}

/*#region search results */

.search-results {
	@apply absolute w-full mt-2 rounded-lg border-interactable bg-standout shadow-lg z-50;
}

.search-results > ul {
	@apply max-h-64 overflow-auto list-none p-2 m-0 grid grid-cols-1;
}

.search-result a div {
	@apply flex items-center justify-between rounded-md px-4 py-2 h-10 text-3 font-medium hoverable;
}

.search-result a {
	@apply no-underline;
}

.tag {
	@apply block rounded bg-gray-900 px-1.5 py-0.5 text-xs text-white;
}

/*#endregion*/

/*#region searchbar*/

.search-bar input {
	@apply w-full rounded-md py-2.5 pe-10  shadow-sm text-sm border-interactable bg-standout;
}

.search-bar .icon {
	@apply absolute inset-y-0 end-0 grid w-10 place-content-center ;
}

/*#endregion*/

.wf-container {
	@apply space-y-6;
}

.wf-card {
	@apply flex flex-col space-y-4;
}

.wf-card .profile {
	@apply flex flex-col space-y-2 items-center justify-center no-underline;
}

.wf-card .profile span {
	@apply text-xl font-bold;
}

.wf-card .profile img {
	@apply rounded w-18! h-18 select-none;
}

/*#region abilities*/

.abilities {
	@apply grid grid-cols-4 w-full max-w-130 mx-auto gap-4 grid-items-baseline;
}

.ability {
	@apply no-underline! text-xs font-500 pt-2 rounded-4 border-interactable hoverable;
}

.ability div {
	@apply grid grid-rows-2 grid-items-center grid-justify-center;
}

.ability div img {
	@apply w-10! h-10! aspect-square invert dark:filter-none mx-auto select-none;
}

.ability div  span {
	@apply text-center;
}

.ability.selected {
	@apply bg-brand-primary text-white dark:(bg-gray-800);
}

.ability.selected div img {
	@apply  filter-none;
}

/*#endregion*/

.wf-notfound {
	@apply text-center p-8;
}

.wf-image-credits {
	@apply flex text-xs justify-center text-center prose-gray dark:prose-invert;
}


.maximization-layout {
	@apply flex flex-col gap-y-4 sm:(flex-row-reverse gap-x-12 gap-y-none) ;
}

/*#region ability modifiers*/

.ability-modifiers {
	@apply text-sm  flex-grow-0;
}

.ability-modifiers > div {
	@apply flex flex-col gap-y-3 border border-gray-200 dark:border-gray-800 rounded-4 p-4 ;
}

.ability-modifier {
	@apply flex justify-between items-center sm:gap-x-4;
}

.ability-modifier label {
	@apply text-[--un-prose-links];
}

.number-input {
	@apply items-center rounded border border-gray-200 dark:border-gray-800;
}

.number-input input {
	@apply h-8 w-14 text-sm border-transparent text-center [-moz-appearance:_textfield] dark:bg-gray-900 dark:text-white [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-non;
}

.number-input button {
	@apply h-8 w-8   transition hover:opacity-75 ;
}



.toggle {
	@apply relative h-7 w-14 cursor-pointer [-webkit-tap-highlight-color:_transparent]";
}
/*#endregion*/



.abilities-stats {
	@apply flex flex-col flex-1 gap-y-4;
}
.ability-stats {
	@apply border border-gray-200 dark:border-gray-800 rounded-4 px-4 pb-4;
}
.ability-stats .stats {
	@apply text-sm space-y-2;
}
.ability-stats .stats div {
	@apply flex justify-start gap-x-4;
}
.ability-stats .stats .stat-value {
	@apply font-600  min-w-18 text-[--un-prose-links] text-start;
	//color: var(--un-prose-links)
}
.ability-stats .stats .negative {
	@apply text-red-500;
}
.ability-stats .stats .positive {
	@apply text-green-500;
}


/*#endregion*/

label {
	@apply cursor-pointer;
}

input {
	@apply ring-brand-primary!;
}
